n8n/flows/case_1_3/mkt.proc.newsletter.json
{
  "nodes": [
    {
      "parameters": {},
      "name": "[START] mkt.proc.newsletter",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [-4352, 176],
      "id": "f4e97da4-257e-4b18-be7d-5d324d508bb9"
    },
    {
      "parameters": {
        "functionCode": "const input = items[0]?.json ?? {};\nconst { createHash, randomUUID } = await import('node:crypto');\n\nconst email = String(input.email ?? '').trim().toLowerCase();\nconst sourceCode = String(input.source_code ?? 'main_site').trim().toLowerCase() || 'main_site';\nconst fullName = input.full_name ? String(input.full_name).trim() : null;\nconst preferredLang = (input.preferred_lang ?? 'ru').toString().trim().toLowerCase() || 'ru';\nconst timezone = input.timezone ? String(input.timezone).trim() || null : null;\nconst consentVersion = input.consent_version ? String(input.consent_version).trim() : 'v1';\nconst doubleOptIn = input.double_opt_in !== false;\n\nconst acceptsMarketingRaw = input.accepts_marketing;\nconst acceptsMarketing = acceptsMarketingRaw === true || String(acceptsMarketingRaw ?? '').toLowerCase() === 'true' || ['yes','y','1','on'].includes(String(acceptsMarketingRaw ?? '').toLowerCase());\nconst acceptsTermsRaw = input.accepts_terms;\nconst acceptsTerms = acceptsTermsRaw === true || String(acceptsTermsRaw ?? '').toLowerCase() === 'true' || ['yes','y','1','on'].includes(String(acceptsTermsRaw ?? '').toLowerCase());\n\nconst errors = [];\nif (!email) errors.push('email_required');\nif (!acceptsMarketing) errors.push('marketing_consent_required');\nif (!acceptsTerms) errors.push('terms_consent_required');\n\nif (errors.length) {\n  return [{\n    json: {\n      status: 'rejected',\n      reason: 'validation_failed',\n      errors,\n      payload: input\n    }\n  }];\n}\n\nconst unsubscribeToken = input.unsubscribe_token && String(input.unsubscribe_token).length >= 16\n  ? String(input.unsubscribe_token)\n  : randomUUID();\n\nconst dedupeKey = createHash('sha256').update(`${email}:${sourceCode}`).digest('hex');\n\nreturn [{\n  json: {\n    status: 'accepted',\n    email,\n    full_name: fullName,\n    preferred_lang: preferredLang || 'ru',\n    timezone: timezone || null,\n    source_code: sourceCode,\n    consent_version: consentVersion,\n    double_opt_in: doubleOptIn,\n    unsubscribe_token: unsubscribeToken,\n    dedupe_key: dedupeKey,\n    raw_payload: input\n  }\n}];"
      },
      "name": "1. Normalize Payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [-4096, 176],
      "id": "26a40912-8aa9-44bc-9f51-ae547108fe9c"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $('1. Normalize Payload').item.json.status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "accepted"
            }
          ]
        },
        "options": {}
      },
      "name": "1a. Is Accepted?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-3872, 176],
      "id": "7c4734fd-957a-4835-b5ef-d05bbcaa6208"
    },
    {
      "parameters": {
        "functionCode": "const normalized = $('1. Normalize Payload').item.json;\nreturn [{\n  json: {\n    status: normalized.status,\n    reason: normalized.reason || 'validation_failed',\n    errors: normalized.errors || [],\n    payload: normalized.raw_payload || {}\n  }\n}];"
      },
      "name": "1b. Rejection Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [-3680, -32],
      "id": "36230b1e-dc93-4e31-836f-2b85a6e6c3fb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH requested AS (\n  SELECT id FROM sources WHERE code = $1\n),\nfallback AS (\n  SELECT id FROM sources WHERE code = 'main_site'\n)\nSELECT COALESCE((SELECT id FROM requested), (SELECT id FROM fallback)) AS source_id;",
        "options": {
          "queryReplacement": "={{ [ $('1. Normalize Payload').item.json.source_code ] }}"
        }
      },
      "name": "2. Resolve Source",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-3680, 304],
      "id": "0cf8394b-f8a1-4146-8f9b-9075ca513a59",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH existing AS (\n  SELECT id FROM contacts WHERE lower(email) = lower($1) ORDER BY updated_at DESC LIMIT 1\n),\nupdated AS (\n  UPDATE contacts\n  SET\n    full_name = COALESCE(NULLIF($2, ''), contacts.full_name),\n    preferred_lang = COALESCE(NULLIF($3, ''), contacts.preferred_lang),\n    timezone = COALESCE(NULLIF($4, ''), contacts.timezone),\n    updated_at = NOW()\n  WHERE id IN (SELECT id FROM existing)\n  RETURNING id\n),\ninserted AS (\n  INSERT INTO contacts (email, full_name, preferred_lang, timezone)\n  SELECT $1, NULLIF($2, ''), NULLIF($3, ''), NULLIF($4, '')\n  WHERE NOT EXISTS (SELECT 1 FROM existing)\n  RETURNING id\n)\nSELECT COALESCE((SELECT id FROM updated), (SELECT id FROM inserted)) AS contact_id;",
        "options": {
          "queryReplacement": "={{ [ $('1. Normalize Payload').item.json.email, $('1. Normalize Payload').item.json.full_name ?? '', $('1. Normalize Payload').item.json.preferred_lang ?? 'ru', $('1. Normalize Payload').item.json.timezone ?? '' ] }}"
        }
      },
      "name": "3. Upsert Contact",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-3440, 304],
      "id": "988bd55f-4d52-421d-bc49-c94b0d4b30df",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const payload = $('1. Normalize Payload').item.json;\nconst sourceRow = $('2. Resolve Source').item.json;\nconst contactRow = $('3. Upsert Contact').item.json;\n\nreturn [{\n  json: {\n    ...payload,\n    contact_id: contactRow?.contact_id || null,\n    source_id: sourceRow?.source_id || null,\n    subscriber_status: payload.double_opt_in ? 'pending_opt_in' : 'subscribed'\n  }\n}];"
      },
      "name": "4. Assemble Context",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [-3200, 304],
      "id": "460955af-a576-4734-aae6-628898288d11"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH payload AS (\n  SELECT\n    $1::uuid AS contact_id,\n    $2::int AS source_id,\n    $3::text AS status,\n    $4::text AS unsubscribe_token,\n    $5::text AS dedupe_key,\n    $6::text AS consent_version,\n    $7::boolean AS double_opt_in_required\n),\nexisting AS (\n  SELECT\n    ns.id,\n    ns.status AS previous_status,\n    ns.confirmed_at AS previous_confirmed_at\n  FROM newsletter_subscribers ns\n  JOIN payload p ON p.contact_id = ns.contact_id\n),\nupdated AS (\n  UPDATE newsletter_subscribers ns\n  SET\n    source_id = payload.source_id,\n    status = payload.status,\n    unsubscribe_token = payload.unsubscribe_token,\n    dedupe_key = payload.dedupe_key,\n    consent_version = payload.consent_version,\n    double_opt_in_required = payload.double_opt_in_required,\n    confirmed_at = CASE\n      WHEN payload.double_opt_in_required THEN ns.confirmed_at\n      ELSE NOW()\n    END,\n    unsubscribed_at = CASE\n      WHEN payload.status = 'unsubscribed' THEN COALESCE(ns.unsubscribed_at, NOW())\n      ELSE NULL\n    END,\n    updated_at = NOW()\n  FROM payload\n  WHERE ns.contact_id = payload.contact_id\n  RETURNING ns.id, ns.contact_id, ns.status, ns.unsubscribe_token, ns.double_opt_in_required, ns.confirmed_at, ns.unsubscribed_at, ns.updated_at,\n    (SELECT previous_status FROM existing) AS previous_status,\n    (SELECT previous_confirmed_at FROM existing) AS previous_confirmed_at,\n    FALSE AS is_new\n),\ninserted AS (\n  INSERT INTO newsletter_subscribers (contact_id, source_id, status, unsubscribe_token, dedupe_key, consent_version, double_opt_in_required, confirmed_at)\n  SELECT\n    payload.contact_id,\n    payload.source_id,\n    payload.status,\n    payload.unsubscribe_token,\n    payload.dedupe_key,\n    payload.consent_version,\n    payload.double_opt_in_required,\n    CASE WHEN payload.double_opt_in_required THEN NULL ELSE NOW() END\n  FROM payload\n  WHERE NOT EXISTS (SELECT 1 FROM existing)\n  RETURNING id, contact_id, status, unsubscribe_token, double_opt_in_required, confirmed_at, NULL::timestamptz AS unsubscribed_at, NOW() AS updated_at, NULL::subscriber_status AS previous_status, NULL::timestamptz AS previous_confirmed_at, TRUE AS is_new\n)\nSELECT * FROM inserted\nUNION ALL\nSELECT * FROM updated;",
        "options": {
          "queryReplacement": "={{ [ $('4. Assemble Context').item.json.contact_id, $('4. Assemble Context').item.json.source_id, $('4. Assemble Context').item.json.subscriber_status, $('4. Assemble Context').item.json.unsubscribe_token, $('4. Assemble Context').item.json.dedupe_key, $('4. Assemble Context').item.json.consent_version, $('4. Assemble Context').item.json.double_opt_in ] }}"
        }
      },
      "name": "5. Upsert Subscriber",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-2960, 304],
      "id": "efdd95b8-a330-4614-a173-6be1164f152e",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const context = $('4. Assemble Context').item.json;\nconst subscriber = $json;\n\nconst pending = subscriber.status === 'pending_opt_in';\nconst wasPendingBefore = subscriber.previous_status === 'pending_opt_in';\nconst wasConfirmed = !!subscriber.previous_confirmed_at;\nconst isNew = subscriber.is_new === true;\n\nreturn [{\n  json: {\n    ...context,\n    subscriber_id: subscriber.id,\n    subscriber_status: subscriber.status,\n    unsubscribe_token: subscriber.unsubscribe_token,\n    double_opt_in_required: subscriber.double_opt_in_required,\n    confirmed_at: subscriber.confirmed_at,\n    unsubscribed_at: subscriber.unsubscribed_at,\n    previous_status: subscriber.previous_status,\n    previous_confirmed_at: subscriber.previous_confirmed_at,\n    is_new: isNew,\n    should_send_doi: pending,\n    should_send_welcome: !pending && (isNew || !wasConfirmed || wasPendingBefore)\n  }\n}];"
      },
      "name": "6. Decide Next Step",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [-2720, 304],
      "id": "413281cd-c5df-406f-8ec3-8f6b873b069f"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.should_send_doi }}",
              "operator": {
                "type": "boolean",
                "operation": "isTrue"
              }
            }
          ]
        },
        "options": {}
      },
      "name": "7. Needs DOI?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-2480, 176],
      "id": "4eb655dd-3121-4fd6-928f-e823d97c6bf6"
    },
    {
      "parameters": {
        "functionCode": "const context = $('6. Decide Next Step').item.json;\n    const template = $('8a. Load DOI Template').item.json || {};\n    const baseUrl = $env.NEWSLETTER_CONFIRM_URL_BASE || 'https://example.com/newsletter/confirm';\n    const confirmUrl = `${baseUrl}?token=${encodeURIComponent(context.unsubscribe_token)}&action=confirm`;\n\n    const fullName = context.full_name ? String(context.full_name).trim() : '';\n    const fullNameSuffix = fullName ? `, ${fullName}` : '';\n\n    function applyTemplate(input, variables) {\n      if (typeof input !== 'string') return '';\n      return Object.entries(variables).reduce((acc, [key, value]) => {\n        const safeValue = value == null ? '' : String(value);\n        const pattern = new RegExp(`{{\\s*${key}\\s*}}`, 'g');\n        return acc.replace(pattern, safeValue);\n      }, input);\n    }\n\n    const subjectTemplate = template.subject_template || '';\n    const bodyTemplate = template.body_template || '';\n    if (!subjectTemplate || !bodyTemplate) {\n      throw new Error('Newsletter DOI template is missing subject or body content.');\n    }\n\n    const subject = applyTemplate(subjectTemplate, {\n      confirm_url: confirmUrl,\n      full_name: fullName,\n      full_name_suffix: fullNameSuffix,\n    });\n\n    const bodyText = applyTemplate(bodyTemplate, {\n      confirm_url: confirmUrl,\n      full_name: fullName,\n      full_name_suffix: fullNameSuffix,\n    });\n\n    const bodyHtml = bodyText.replace(/\n/g, '<br />');\n\n    return [{\n      json: {\n        email: context.email,\n        full_name: fullName || null,\n        subject,\n        body_text: bodyText,\n        body_html: bodyHtml,\n        confirm_url: confirmUrl,\n        subscriber_id: context.subscriber_id,\n        contact_id: context.contact_id,\n        meta_kind: 'newsletter_doi'\n      }\n    }];"
      },
      "name": "8b. Compose DOI Email",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [-2240, 16],
      "id": "913fb618-d4de-4940-a0ca-887d14a18b63"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body_text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "name": "9. Send DOI Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-2000, 16],
      "id": "68fda31d-ca88-4994-9d76-2bd10a44623f",
      "webhookId": "e6e4fdf7-89b1-439f-b5c7-fb6e833d1d50",
      "credentials": {
        "gmailOAuth2": {
          "id": "dRP6U59xFUhSEpp0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (conversation_id, direction, medium, sender_contact_id, body, body_html, message_ts, meta)\nVALUES (NULL, 'outbound', 'email', NULL, $1, $2, NOW(), jsonb_build_object('kind', 'newsletter_doi', 'subscriber_id', $3::uuid, 'email', $4, 'subject', $5))\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [ $('8b. Compose DOI Email').item.json.body_text, $('8b. Compose DOI Email').item.json.body_html, $('6. Decide Next Step').item.json.subscriber_id, $('8b. Compose DOI Email').item.json.email, $('8b. Compose DOI Email').item.json.subject ] }}"
        }
      },
      "name": "10. Log DOI Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-1760, 16],
      "id": "da5fbb04-5505-4581-9502-d620e7222400",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipeline_events (entity_type, entity_id, event_type, data)\nVALUES ('subscriber', $1::uuid, 'newsletter_doi_sent', jsonb_build_object('email', $2, 'subject', $3, 'confirm_url', $4))\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [ $('6. Decide Next Step').item.json.subscriber_id, $('8b. Compose DOI Email').item.json.email, $('8b. Compose DOI Email').item.json.subject, $('8b. Compose DOI Email').item.json.confirm_url ] }}"
        }
      },
      "name": "11. Log DOI Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-1520, 16],
      "id": "c7661d1a-0396-406a-b507-bc9756ad3642",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.should_send_welcome }}",
              "operator": {
                "type": "boolean",
                "operation": "isTrue"
              }
            }
          ]
        },
        "options": {}
      },
      "name": "12. Send Welcome?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-2240, 384],
      "id": "34e91d70-b4a0-404c-9671-35792a8327cf"
    },
    {
      "parameters": {
        "functionCode": "const context = $('6. Decide Next Step').item.json;\n    const template = $('13a. Load Welcome Template').item.json || {};\n    const preferencesUrl = $env.NEWSLETTER_PREFERENCES_URL || 'https://example.com/newsletter/manage';\n    const unsubscribeBase = $env.NEWSLETTER_UNSUB_BASE_URL || 'https://example.com/newsletter/unsubscribe';\n    const unsubscribeUrl = `${unsubscribeBase}?token=${encodeURIComponent(context.unsubscribe_token)}&action=unsubscribe`;\n\n    const fullName = context.full_name ? String(context.full_name).trim() : '';\n    const fullNameSuffix = fullName ? `, ${fullName}` : '';\n\n    function applyTemplate(input, variables) {\n      if (typeof input !== 'string') return '';\n      return Object.entries(variables).reduce((acc, [key, value]) => {\n        const safeValue = value == null ? '' : String(value);\n        const pattern = new RegExp(`{{\\s*${key}\\s*}}`, 'g');\n        return acc.replace(pattern, safeValue);\n      }, input);\n    }\n\n    const subjectTemplate = template.subject_template || '';\n    const bodyTemplate = template.body_template || '';\n    if (!subjectTemplate || !bodyTemplate) {\n      throw new Error('Newsletter welcome template is missing subject or body content.');\n    }\n\n    const subject = applyTemplate(subjectTemplate, {\n      preferences_url: preferencesUrl,\n      unsubscribe_url: unsubscribeUrl,\n      full_name: fullName,\n      full_name_suffix: fullNameSuffix,\n    });\n\n    const bodyText = applyTemplate(bodyTemplate, {\n      preferences_url: preferencesUrl,\n      unsubscribe_url: unsubscribeUrl,\n      full_name: fullName,\n      full_name_suffix: fullNameSuffix,\n    });\n\n    const bodyHtml = bodyText.replace(/\n/g, '<br />');\n\n    return [{\n      json: {\n        email: context.email,\n        full_name: fullName || null,\n        subject,\n        body_text: bodyText,\n        body_html: bodyHtml,\n        preferences_url: preferencesUrl,\n        unsubscribe_url: unsubscribeUrl,\n        subscriber_id: context.subscriber_id,\n        contact_id: context.contact_id,\n        meta_kind: 'newsletter_welcome'\n      }\n    }];"
      },
      "name": "13b. Compose Welcome Email",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [-2000, 384],
      "id": "a8f7a675-b1a5-4df2-987b-d7eb45272f86"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body_text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "name": "14. Send Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-1760, 384],
      "id": "f275b163-dc34-4770-8a03-e112019f163a",
      "webhookId": "116ebf76-5866-4a0a-b6c0-f6b82f1c9440",
      "credentials": {
        "gmailOAuth2": {
          "id": "dRP6U59xFUhSEpp0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (conversation_id, direction, medium, sender_contact_id, body, body_html, message_ts, meta)\nVALUES (NULL, 'outbound', 'email', NULL, $1, $2, NOW(), jsonb_build_object('kind', 'newsletter_welcome', 'subscriber_id', $3::uuid, 'email', $4, 'subject', $5))\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [ $('13b. Compose Welcome Email').item.json.body_text, $('13b. Compose Welcome Email').item.json.body_html, $('6. Decide Next Step').item.json.subscriber_id, $('13b. Compose Welcome Email').item.json.email, $('13b. Compose Welcome Email').item.json.subject ] }}"
        }
      },
      "name": "15. Log Welcome Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-1520, 384],
      "id": "88c5d1ad-309e-49d5-8e3e-45e6e4990073",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipeline_events (entity_type, entity_id, event_type, data)\nVALUES ('subscriber', $1::uuid, 'newsletter_welcome_sent', jsonb_build_object('email', $2, 'subject', $3, 'preferences_url', $4, 'unsubscribe_url', $5))\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [ $('6. Decide Next Step').item.json.subscriber_id, $('13b. Compose Welcome Email').item.json.email, $('13b. Compose Welcome Email').item.json.subject, $('13b. Compose Welcome Email').item.json.preferences_url, $('13b. Compose Welcome Email').item.json.unsubscribe_url ] }}"
        }
      },
      "name": "16. Log Welcome Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-1280, 384],
      "id": "3cd4bcab-249f-4c90-9d38-8c910d5e4694",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [{}, {}, {}, {}, {}, {}]
        },
        "options": {}
      },
      "name": "17. Return Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [-1040, 224],
      "id": "50b2c6fd-0bfc-458c-ace8-ace5e18fff50"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT subject_template, body_template FROM templates WHERE name = $1;",
        "options": {
          "queryReplacement": "={{ [ 'newsletter.doi.' + ( $('6. Decide Next Step').item.json.preferred_lang || 'ru' ) ] }}"
        }
      },
      "name": "8a. Load DOI Template",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-2240, -144],
      "id": "7309738e-3028-4d67-94f0-f0f81c45e5db",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT subject_template, body_template FROM templates WHERE name = $1;",
        "options": {
          "queryReplacement": "={{ [ 'newsletter.welcome.' + ( $('6. Decide Next Step').item.json.preferred_lang || 'ru' ) ] }}"
        }
      },
      "name": "13a. Load Welcome Template",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-2000, 224],
      "id": "1d475838-dd64-42e8-804f-340ebf540e2b",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "[START] mkt.proc.newsletter": {
      "main": [
        [
          {
            "node": "1. Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Normalize Payload": {
      "main": [
        [
          {
            "node": "1a. Is Accepted?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1a. Is Accepted?": {
      "main": [
        [
          {
            "node": "2. Resolve Source",
            "type": "main",
            "index": 0
          },
          {
            "node": "1b. Rejection Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1b. Rejection Response": {
      "main": [
        [
          {
            "node": "17. Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Resolve Source": {
      "main": [
        [
          {
            "node": "3. Upsert Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Upsert Contact": {
      "main": [
        [
          {
            "node": "4. Assemble Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Assemble Context": {
      "main": [
        [
          {
            "node": "5. Upsert Subscriber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Upsert Subscriber": {
      "main": [
        [
          {
            "node": "6. Decide Next Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Decide Next Step": {
      "main": [
        [
          {
            "node": "7. Needs DOI?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. Needs DOI?": {
      "main": [
        [
          {
            "node": "8a. Load DOI Template",
            "type": "main",
            "index": 0
          },
          {
            "node": "12. Send Welcome?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8b. Compose DOI Email": {
      "main": [
        [
          {
            "node": "9. Send DOI Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9. Send DOI Email": {
      "main": [
        [
          {
            "node": "10. Log DOI Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. Log DOI Message": {
      "main": [
        [
          {
            "node": "11. Log DOI Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11. Log DOI Event": {
      "main": [
        [
          {
            "node": "17. Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12. Send Welcome?": {
      "main": [
        [
          {
            "node": "13a. Load Welcome Template",
            "type": "main",
            "index": 0
          },
          {
            "node": "17. Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13b. Compose Welcome Email": {
      "main": [
        [
          {
            "node": "14. Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14. Send Welcome Email": {
      "main": [
        [
          {
            "node": "15. Log Welcome Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15. Log Welcome Message": {
      "main": [
        [
          {
            "node": "16. Log Welcome Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "16. Log Welcome Event": {
      "main": [
        [
          {
            "node": "17. Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8a. Load DOI Template": {
      "main": [
        [
          {
            "node": "8b. Compose DOI Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13a. Load Welcome Template": {
      "main": [
        [
          {
            "node": "13b. Compose Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "69871f35b6454f2fa99c2f68403092fbaef8d3b776d3b26f1ec8ca290a75b807"
  }
}
