n8n/flows/crm.proc.dev_request.json
{
  "nodes": [
    {
      "parameters": {},
      "name": "[START] dev_request processor",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -10320,
        272
      ],
      "id": "3d7c0656-8822-431f-b8fa-c67c1bed20d5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2138a08d-8a50-4bf6-9407-c4667a4e40fe",
              "name": "lead_id",
              "value": "={{ $json.lead_id }}",
              "type": "string"
            },
            {
              "id": "67417578-8316-43c3-8f0d-5f6535d8e7c1",
              "name": "contact_id",
              "value": "={{ $json.contact_id }}",
              "type": "string"
            },
            {
              "id": "d0e1b644-2458-45ac-9b93-875f532a875a",
              "name": "conversation_id",
              "value": "={{ $json.conversation_id }}",
              "type": "string"
            },
            {
              "id": "c1f6b15a-f12b-4ba5-a4f6-7b8ac42c701d",
              "name": "full_name",
              "value": "={{ $json.full_name }}",
              "type": "string"
            },
            {
              "id": "7876a47a-18f6-4171-85b3-3a72d7cf7d0a",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "ab833534-192a-4318-8f85-780c855a8220",
              "name": "lang",
              "value": "={{ ['ru', 'en', 'pl'].includes($json.preferred_lang) ? $json.preferred_lang : 'ru' }}",
              "type": "string"
            },
            {
              "id": "0d1894a7-8f55-46aa-9d52-7b065a4e5113",
              "name": "timezone",
              "value": "={{ $json.timezone || 'Europe/Warsaw' }}",
              "type": "string"
            },
            {
              "id": "df47e58a-a55e-49b5-90a6-121f1816f0ea",
              "name": "calendly_base_url",
              "value": "https://calendly.com/arsenii-ovsianykov-idealogic",
              "type": "string"
            },
            {
              "id": "722125bb-d130-4e55-901c-d70379fd60c7",
              "name": "from_name",
              "value": "Arsenii from Idealogic",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "name": "0. Ctx & Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -10112,
        272
      ],
      "id": "50eb1eac-d2b4-427f-b397-34540fc2768b"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT subject_template, body_template FROM templates WHERE name = $1;",
        "options": {
          "queryReplacement": "={{ [ 'dev_request.initial.' + $('0. Ctx & Config').item.json.lang ] }}"
        }
      },
      "name": "1a. Load Template",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -9904,
        272
      ],
      "id": "3b3fd395-8454-4cdf-a90d-d33e9a9ecc9c",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('1a. Load Template').item.json.subject_template }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "1b. IF: Template Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -9712,
        272
      ],
      "id": "b3d1150d-d217-40ab-9db3-8fc9e9c97fb9"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT subject_template, body_template FROM templates WHERE name = 'dev_request.initial.en';",
        "options": {}
      },
      "name": "1c-fallback. Load EN Template",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -9440,
        384
      ],
      "id": "e0e464a1-deac-43da-a5f9-7b8a13f36c08",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f3e589f-8e54-4712-9c29-3b951167a1aa",
              "name": "en_subject",
              "value": "={{ $('1c-fallback. Load EN Template').item.json.subject_template }}",
              "type": "string"
            },
            {
              "id": "e21b798b-2856-4b95-a22d-6060c4004940",
              "name": "en_body",
              "value": "={{ $('1c-fallback. Load EN Template').item.json.body_template }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "1d-prep. Prepare AI Prompt Vars",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -9232,
        384
      ],
      "id": "3e311588-c116-4541-a93d-bc6d08761312"
    },
    {
      "parameters": {
        "jsCode": "const config = $('0. Ctx & Config').item.json;\nconst fallback = $('1c-fallback. Load EN Template').item.json;\n\nif ($json.error) {\n  return [{\n    subject_template: fallback.subject_template,\n    body_template: fallback.body_template,\n    template_source: 'fallback_en',\n    template_lang: 'en',\n    translation_error: $json.error,\n    ai_errors: [],\n  }];\n}\n\nconst rootText = typeof $json.text === 'string' ? $json.text : null;\nconst contentText = $json.content?.[0]?.text ?? null;\nconst text = (rootText ?? contentText ?? '').trim();\n\nif (!text) {\n  return [{\n    subject_template: fallback.subject_template,\n    body_template: fallback.body_template,\n    template_source: 'fallback_en',\n    template_lang: 'en',\n    translation_error: { message: 'Empty response from translator' },\n    ai_errors: [],\n  }];\n}\n\nconst start = text.indexOf('{');\nconst end = text.lastIndexOf('}');\nif (start === -1 || end === -1) {\n  return [{\n    subject_template: fallback.subject_template,\n    body_template: fallback.body_template,\n    template_source: 'fallback_en',\n    template_lang: 'en',\n    translation_error: { message: 'Translator returned no JSON object' },\n    ai_errors: [],\n  }];\n}\n\nconst jsonStr = text.slice(start, end + 1);\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonStr);\n} catch (error) {\n  return [{\n    subject_template: fallback.subject_template,\n    body_template: fallback.body_template,\n    template_source: 'fallback_en',\n    template_lang: 'en',\n    translation_error: { message: error.message },\n    ai_errors: [],\n  }];\n}\n\nconst subject = parsed.subject || fallback.subject_template;\nconst body = parsed.body || fallback.body_template;\n\nreturn [{\n  subject_template: subject,\n  body_template: body,\n  template_source: 'ai_translation',\n  template_lang: config.lang || 'ru',\n  translation_error: null,\n  ai_errors: Array.isArray(parsed.ai_errors) ? parsed.ai_errors : [],\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8688,
        384
      ],
      "name": "1e. Parse AI JSON",
      "id": "6032d89a-6f44-45b4-b988-07d345e3d80f"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-3-5-haiku-20241022",
          "mode": "list",
          "cachedResultName": "claude-3-5-haiku-20241022"
        },
        "messages": {
          "values": [
            {
              "content": "You are a translation API. Your only task is to translate the user's provided JSON content into the specified target language.\n\nRULES:\n1. Translate the text values accurately.\n2. You MUST preserve placeholders like `{{name}}` and `{{calendly_url}}` exactly as they are. DO NOT translate the content inside {{...}}.\n3. Return ONLY a valid, minified JSON object with the exact same keys as the input. No comments, no prose, no explanations.",
              "role": "assistant"
            },
            {
              "content": "=TARGET LANGUAGE: \"{{ $('0. Ctx & Config').item.json.lang }}\"\n---\nJSON TO TRANSLATE:\n{\n  \"subject\": \"{{ $('1d-prep. Prepare AI Prompt Vars').item.json.en_subject }}\",\n  \"body\": \"{{ $('1d-prep. Prepare AI Prompt Vars').item.json.en_body }}\"\n}"
            }
          ]
        },
        "options": {}
      },
      "name": "1d-translate. AI Translate Template",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        -9024,
        384
      ],
      "id": "7a0b0ae4-6b63-4a93-b3a5-a2bb57623b6f",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "anthropicApi": {
          "id": "GIfdwzVM7KrSSX07",
          "name": "Anthropic account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e0b5f1f0-4e58-4e89-913a-a1b9b9423c8e",
              "name": "=subject_template",
              "value": "={{ $('1a. Load Template').item.json.subject_template }}",
              "type": "string"
            },
            {
              "id": "18c8b6d8-b391-4470-a38f-6fd6a8e805f1",
              "name": "body_template",
              "value": "={{ $('1a. Load Template').item.json.body_template }}",
              "type": "string"
            },
            {
              "id": "23318de4-eb9e-4cdb-a21a-19e009fa0690",
              "name": "template_source",
              "type": "string",
              "value": "db_template"
            },
            {
              "id": "21c2d39a-242a-47e1-95b4-d1e24241e567",
              "name": "template_lang",
              "type": "string",
              "value": "={{ $('0. Ctx & Config').item.json.lang }}"
            },
            {
              "id": "0557c2be-801a-433f-9d84-41c03c72423e",
              "name": "translation_error",
              "type": "string",
              "value": "={{ null }}"
            },
            {
              "id": "002dbf32-8c28-4f34-8001-73df1996572b",
              "name": "ai_errors",
              "type": "array",
              "value": "={{ [] }}"
            }
          ]
        },
        "options": {}
      },
      "name": "1f. Shape 'True' Path Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -9440,
        176
      ],
      "id": "b11b853d-d373-467c-973c-075e08e510dd"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "name": "2. Merge Template Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -8448,
        192
      ],
      "id": "fa3facd9-99c5-43c1-8c41-556dabf0be9d"
    },
    {
      "parameters": {
        "jsCode": "const config = $('0. Ctx & Config').item.json;\nconst template = $('2. Merge Template Branches').item.json;\n\nconst subjectText = template.subject_template || template.subject;\nconst bodyText = template.body_template || template.body;\n\nif (typeof subjectText !== 'string' || typeof bodyText !== 'string') {\n  throw new Error('Could not find subject or body text in the template payload.');\n}\n\nconst clientName = config.full_name || 'there';\nconst fromName = config.from_name || 'Team';\nconst calendlyUrl = config.calendly_base_url || '';\n\nlet finalSubject = subjectText.replace(/{{name}}/g, clientName);\nlet finalBody = bodyText\n  .replace(/{{name}}/g, clientName)\n  .replace(/{{calendly_url}}/g, calendlyUrl)\n  .replace(/{{from_name}}/g, fromName);\n\nreturn [{\n  ...$item.json,\n  final_subject: finalSubject,\n  final_body: finalBody,\n  template_lang: template.template_lang || config.lang || 'ru',\n  template_source: template.template_source || 'db_template',\n  translation_error: template.translation_error || null,\n  template_ai_errors: template.ai_errors || [],\n}];"
      },
      "name": "2b. Compose Initial Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8240,
        192
      ],
      "id": "3fbfa4b8-f80b-435f-9ff2-4df94a066efa"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 5) + 1 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -8032,
        192
      ],
      "id": "005d240e-0f38-406d-8f3f-9c5eb3ef8714",
      "name": "Wait",
      "webhookId": "3d07f095-a6fe-4ff0-abde-8851b17f892c"
    },
    {
      "parameters": {
        "sendTo": "={{ $('0. Ctx & Config').item.json.email }}",
        "subject": "={{ $('2b. Compose Initial Reply').item.json.final_subject }}",
        "message": "={{ $('2b. Compose Initial Reply').item.json.final_body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -7824,
        192
      ],
      "id": "1f625690-abf1-4359-bbc0-59711e759c90",
      "name": "Send a message",
      "webhookId": "00830c7f-f5de-49ce-b243-d5cc0c47b996",
      "credentials": {
        "gmailOAuth2": {
          "id": "dRP6U59xFUhSEpp0",
          "name": "Gmail account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (\n  conversation_id,\n  direction,\n  medium,\n  body,\n  external_message_id,\n  meta\n)\nVALUES (\n  $1,\n  'outbound',\n  'email',\n  $2,\n  $3,\n  $4::jsonb\n);",
        "options": {
          "queryReplacement": "={{ [\n  $('0. Ctx & Config').item.json.conversation_id,\n  $('2b. Compose Initial Reply').item.json.final_body,\n  $('Send a message').item.json.id,\n  JSON.stringify({\n    subject: $('2b. Compose Initial Reply').item.json.final_subject,\n    kind: 'initial',\n    template_lang: $('2b. Compose Initial Reply').item.json.template_lang,\n    template_source: $('2b. Compose Initial Reply').item.json.template_source,\n    translation_error: $('2b. Compose Initial Reply').item.json.translation_error,\n    template_ai_errors: $('2b. Compose Initial Reply').item.json.template_ai_errors\n  })\n] }}"
        }
      },
      "name": "4b. Log Outbound Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7216,
        176
      ],
      "id": "5a513027-5a23-4538-856a-1b58eb81e1d3",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tasks (lead_id, type, due_at, notes)\nVALUES ($1, 'schedule_call', NOW() + interval '24 hours', $2);",
        "options": {
          "queryReplacement": "={{ [\n  $('0. Ctx & Config').item.json.lead_id,\n  'Check if ' + ($('0. Ctx & Config').item.json.full_name || 'the new lead') + ' has booked a call or replied.'\n] }}"
        }
      },
      "name": "4c. Create Task: Follow-up",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6656,
        176
      ],
      "id": "340ca34f-7619-4eae-bb65-93d47a135012",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads\nSET stage = 'contacted', updated_at = NOW()\nWHERE id = $1;\n\nUPDATE conversations\nSET last_message_at = NOW()\nWHERE id = $2;",
        "options": {
          "queryReplacement": "={{ [\n  $('0. Ctx & Config').item.json.lead_id,\n  $('0. Ctx & Config').item.json.conversation_id\n] }}"
        }
      },
      "name": "4d. Update Lead & Conv. Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6448,
        176
      ],
      "id": "c624334d-4028-4def-952c-3f4faaf33369",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "046a47e2-1f13-4bac-8c74-0f7d3aa987b5",
      "name": "4a. Initial Email Sent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -7600,
        192
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipeline_events (entity_type, entity_id, event_type, data)\nVALUES ('lead', $1, 'dev_request_initial_email_failed', $2::jsonb);",
        "options": {
          "queryReplacement": "={{ [ $('0. Ctx & Config').item.json.lead_id, JSON.stringify({ conversation_id: $('0. Ctx & Config').item.json.conversation_id, error: $json.error, template_lang: $('2b. Compose Initial Reply').item.json.template_lang, template_source: $('2b. Compose Initial Reply').item.json.template_source }) ] }}"
        }
      },
      "id": "c38905d3-1904-42b6-b2fa-10fa24a72d4d",
      "name": "4a. Log Initial Email Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7216,
        432
      ],
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1003017940130",
        "text": "❌ Initial auto-reply failed for {{ $('0. Ctx & Config').item.json.email }}: {{ $json.error?.message || $json.error || 'Unknown error' }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "e06f404d-577c-4a5d-8d98-505942b7dc66",
      "name": "4a. Alert Initial Email Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -6944,
        432
      ],
      "webhookId": "26575138-e845-494c-b7ba-21ae38c6f7b8",
      "credentials": {
        "telegramApi": {
          "id": "DIjzBhPLelPnkz7y",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "Initial auto-reply failed"
      },
      "id": "d7b48303-de95-4295-8a4e-1cf30817a7ba",
      "name": "4a. Stop Execution (Initial Email)",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -6672,
        432
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipeline_events (entity_type, entity_id, event_type, data)\nVALUES ('lead', $1, 'dev_request_initial_email_sent', $2::jsonb);",
        "options": {
          "queryReplacement": "={{ [ $('0. Ctx & Config').item.json.lead_id, JSON.stringify({ conversation_id: $('0. Ctx & Config').item.json.conversation_id, message_id: $('Send a message').item.json.id, template_lang: $('2b. Compose Initial Reply').item.json.template_lang, template_source: $('2b. Compose Initial Reply').item.json.template_source, translation_error: $('2b. Compose Initial Reply').item.json.translation_error, template_ai_errors: $('2b. Compose Initial Reply').item.json.template_ai_errors }) ] }}"
        }
      },
      "id": "e53ae50d-9c0e-44ff-9ff7-cffea758f82b",
      "name": "4b. Pipeline Event: Initial Email",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6912,
        176
      ],
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipeline_events (entity_type, entity_id, event_type, data)\nVALUES ('lead', $1, 'lead_stage_contacted', $2::jsonb);",
        "options": {
          "queryReplacement": "={{ [ $('0. Ctx & Config').item.json.lead_id, JSON.stringify({ conversation_id: $('0. Ctx & Config').item.json.conversation_id }) ] }}"
        }
      },
      "id": "88f7aa15-6e69-4c91-a5d1-9cd87f856c6f",
      "name": "4e. Pipeline Event: Lead Contacted",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6208,
        176
      ],
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM lead_tags\nWHERE lead_id = $1\n  AND tag_id IN (\n    SELECT id FROM tags WHERE name IN ('followup_1_sent','followup_2_sent','followup_sequence_done')\n  );",
        "options": {
          "queryReplacement": "={{ [ $('0. Ctx & Config').item.json.lead_id ] }}"
        }
      },
      "name": "4f. Reset Sequencer Tags",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6208,
        176
      ],
      "id": "2201ae94-acf3-4e2c-bb14-91047f8fe0c9",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipeline_events (entity_type, entity_id, event_type, data)\nVALUES ('lead', $1, 'dev_request_followup_scheduled', $2::jsonb);",
        "options": {
          "queryReplacement": "={{ [ $('0. Ctx & Config').item.json.lead_id, JSON.stringify({ sequence: 'dev_request_default', source: 'crm.proc.dev_request', trigger: 'mkt.proc.sequencer' }) ] }}"
        }
      },
      "name": "4g. Log Sequencer Kick",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5968,
        176
      ],
      "id": "04d1ed66-6bce-40fb-a24d-9c72ff38d247",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "[START] dev_request processor": {
      "main": [
        [
          {
            "node": "0. Ctx & Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "0. Ctx & Config": {
      "main": [
        [
          {
            "node": "1a. Load Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1a. Load Template": {
      "main": [
        [
          {
            "node": "1b. IF: Template Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1b. IF: Template Found?": {
      "main": [
        [
          {
            "node": "1f. Shape 'True' Path Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "1c-fallback. Load EN Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1c-fallback. Load EN Template": {
      "main": [
        [
          {
            "node": "1d-prep. Prepare AI Prompt Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1d-prep. Prepare AI Prompt Vars": {
      "main": [
        [
          {
            "node": "1d-translate. AI Translate Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1e. Parse AI JSON": {
      "main": [
        [
          {
            "node": "2. Merge Template Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "1d-translate. AI Translate Template": {
      "main": [
        [
          {
            "node": "1e. Parse AI JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1f. Shape 'True' Path Data": {
      "main": [
        [
          {
            "node": "2. Merge Template Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Merge Template Branches": {
      "main": [
        [
          {
            "node": "2b. Compose Initial Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2b. Compose Initial Reply": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "4a. Initial Email Sent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4b. Log Outbound Message": {
      "main": [
        [
          {
            "node": "4b. Pipeline Event: Initial Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4c. Create Task: Follow-up": {
      "main": [
        [
          {
            "node": "4d. Update Lead & Conv. Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4d. Update Lead & Conv. Status": {
      "main": [
        [
          {
            "node": "4e. Pipeline Event: Lead Contacted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4a. Initial Email Sent?": {
      "main": [
        [
          {
            "node": "4b. Log Outbound Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "4a. Log Initial Email Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4a. Log Initial Email Error": {
      "main": [
        [
          {
            "node": "4a. Alert Initial Email Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4a. Alert Initial Email Error": {
      "main": [
        [
          {
            "node": "4a. Stop Execution (Initial Email)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4b. Pipeline Event: Initial Email": {
      "main": [
        [
          {
            "node": "4c. Create Task: Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4e. Pipeline Event: Lead Contacted": {
      "main": [
        [
          {
            "node": "4f. Reset Sequencer Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4f. Reset Sequencer Tags": {
      "main": [
        [
          {
            "node": "4g. Log Sequencer Kick",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4g. Log Sequencer Kick": {
      "main": [
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "69871f35b6454f2fa99c2f68403092fbaef8d3b776d3b26f1ec8ca290a75b807"
  }
}
