n8n/flows/hr.in.candidates.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "355d6606cb2147d1b5a07ed0eb1cb4ef",
        "options": {}
      },
      "name": "hr.in.candidates",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-8976, -448],
      "webhookId": "837acadc8f9e4159b8db8c91b1c3097b",
      "id": "57cb98a7-ace8-4a0d-82af-b4166334033f",
      "notes": "Trigger: Webhook (по HR-формам vacancy/hr_intake/hr_candidate)\n\nОжидает в заголовках:\nX-Resource (e.g., 'chain.do')\nX-Form-Code (e.g., 'vacancy')\n\nТело запроса (body) должно содержать email, full_name, message и дополнительные поля анкеты."
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $('1e. Validate & Shape').item.json.classification.label }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "spam"
            }
          ]
        },
        "options": {}
      },
      "name": "4. Is Spam?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-7040, -272],
      "id": "c11f7f5d-2ac2-4c8a-b928-3a784acc915c"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO classifications (submission_id, model_name, label, confidence)\nVALUES ($1, $2, $3::classification_label, $4);",
        "options": {
          "queryReplacement": "={{ [   $('2. Insert Submission').item.json.submission_id,   'Anthropic: claude-3-5-haiku-20241022',   $('1e. Validate & Shape').item.json.classification.label,   $('1e. Validate & Shape').item.json.classification.confidence ?? 0 ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-7248, -272],
      "id": "010f3b77-4715-4cc9-bb4e-6f34f21028d0",
      "name": "3b. Insert Classification",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ins AS (\n  INSERT INTO submissions (\n    form_id, source_id, resource, received_at,\n    raw_payload, email, full_name, message, external_id, status\n  )\n  VALUES (\n    (SELECT id FROM forms   WHERE code = $1),\n    (SELECT id FROM sources WHERE code = $2),\n    $2,\n    NOW(),\n    $3::jsonb,\n    $4, $5, $6, $7,\n    'new'\n  )\n  ON CONFLICT (external_id) DO UPDATE\n    SET external_id = EXCLUDED.external_id  -- no-op для идемпотентности\n  RETURNING id\n)\nSELECT id AS submission_id FROM ins\nUNION ALL\nSELECT id FROM submissions WHERE external_id = $7\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ [\n  $json.form_code,\n  $json.source_code,\n  JSON.stringify($json.raw_payload ?? {}),\n  $json.email,\n  $json.full_name ?? '',\n  $json.message ?? '',\n  $json.external_id\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-7472, -272],
      "id": "9c363206-b6a7-4710-9d0c-903c388710f0",
      "name": "2. Insert Submission",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE submissions \nSET \n  is_spam = TRUE, \n  status = 'archived', \n  spam_score = {{ $('1e. Validate & Shape').item.json.classification.confidence }}, \n  spam_reason = 'AI Classification'\nWHERE \n  id = '{{ $('2. Insert Submission').item.json.submission_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-6768, -512],
      "id": "3b106430-3393-4f3f-a079-377288802bf0",
      "name": "Update Submission (Spam)",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [-8976, -112],
      "id": "93af639e-c17c-489a-8f44-000d1cb404ba",
      "name": "Gmail Trigger (HR)",
      "credentials": {
        "gmailOAuth2": {
          "id": "dRP6U59xFUhSEpp0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const isGmail = !!$json.threadId && !!$json.internalDate;\n\nfunction fromWebhook(j) {\n  const body = j.body || {};\n  const headers = j.headers || {};\n  return {\n    trigger: 'webhook',\n    source_code: headers['x-resource'] || 'chain_do', // fallback\n    form_code: headers['x-form-code'] || body.form_code || null,\n    subject: body.subject || `Form: ${headers['x-form-code'] || 'unknown'}`,\n    from_email: (body.email || '').toLowerCase().trim() || null,\n    from_name: body.full_name || null,\n    body_text: body.message || '',\n    body_html: body.message_html || null,\n    sent_at: new Date().toISOString(),\n    external_message_id: body.external_id || null,\n    attachments: body.attachments || [],\n    raw: j\n  };\n}\n\nfunction fromGmail(j) {\n  // Упрощенный парсинг поля \"From\", чтобы достать email и имя\n  const fromRaw = j.From || '';\n  const nameMatch = fromRaw.match(/^(.*)<.*>$/);\n  const emailMatch = fromRaw.match(/<(.*)>/);\n\n  const from_name = nameMatch ? nameMatch[1].trim() : (emailMatch ? '' : fromRaw);\n  const from_email = emailMatch ? emailMatch[1].toLowerCase().trim() : fromRaw.toLowerCase().trim();\n\n  return {\n    trigger: 'gmail',\n    source_code: 'email_inbox_hr',\n    form_code: null,\n    subject: j.Subject || '(no subject)',\n    from_email: from_email || null,\n    from_name: from_name || null,\n    body_text: j.snippet || '', // Gmail Trigger по умолчанию дает только snippet. Для полного текста нужна доп. нода\n    body_html: null, // Аналогично, для HTML нужна доп. нода\n    sent_at: new Date(parseInt(j.internalDate, 10)).toISOString(),\n    external_message_id: j.id || null,\n    attachments: (j.attachments || []).map(a => ({ filename: a.filename, mime: a.mimeType, size: a.size })),\n    raw: j\n  };\n}\n\nconst env = isGmail ? fromGmail($json) : fromWebhook($json);\n\n// домен для компаний, если корпоративная почта\nenv.from_domain = (env.from_email && env.from_email.includes('@')) ? env.from_email.split('@')[1] : null;\n\nenv.ai_view = {\n  trigger: env.trigger,\n  source_code: env.source_code,\n  form_code: env.form_code,\n  subject: env.subject,\n  from_email: env.from_email,\n  from_name: env.from_name,\n  body_text: env.body_text,\n  body_html: env.body_html,\n  sent_at: env.sent_at,\n  external_message_id: env.external_message_id,\n  from_domain: env.from_domain,\n};\n\nreturn [env];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-8688, -272],
      "id": "f5085ddc-687a-4739-8f20-ef80e92deca4",
      "name": "0a. Build Envelope"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-3-5-haiku-20241022",
          "mode": "list",
          "cachedResultName": "claude-3-5-haiku-20241022"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an information extractor. Return ONLY valid minified JSON. No comments, no prose.\n\nIntake context:\n- trigger = {{ $json.trigger }}\n- source_code = {{ $json.source_code }}\n- form_code = {{ $json.form_code }}\n\n***Intake policy (VERY IMPORTANT):***\nThis pipeline is for CLIENT requests only. Allowed intents: [\"client\",\"partner\",\"newsletter\"].\nIf you detect a candidate/job-seeker/Resume/CV/looking for a job, then this is NOT a valid intake here.\nIn such case, set:\n  classification.label = \"spam\"\n  classification.intent = \"generic\"\n  and add \"candidate_on_client_intake\" to tags.\n\nNormalize and extract fields for CRM ingestion. If unsure, use null or [].\nInput envelope (JSON):\n{{ JSON.stringify($json.ai_view, null, 2) }}\n\nReturn JSON with this exact structure:\n{\n \"classification\": {\n   \"label\": \"spam|ham\",\n   \"intent\": \"client|candidate|partner|newsletter|generic\",\n   \"confidence\": 0.0\n },\n \"contact\": {\n   \"email\": \"...\", \"full_name\": \"...\", \"phone_numbers\":[{\"number\":\"...\",\"label\":\"...\"}],\n   \"title\": \"...\", \"timezone\":\"...\", \"preferred_lang\":\"en|pl|ru|uk|...\"\n },\n \"company\": { \"name\":\"...\", \"website\":\"https://...\", \"country\":\"...\" },\n \"message\": { \"plain\":\"...\", \"html\":\"...\", \"subject\":\"...\", \"sent_at\":\"ISO8601\" },\n \"project\": {\n   \"description\":\"...\", \"budget\":{\"amount\":12345,\"currency\":\"USD|EUR|PLN\"},\n   \"timeline\":{\"start\":\"ISO8601|null\",\"deadline\":\"ISO8601|null\",\"urgency\":\"low|med|high\"},\n   \"stack\":{\"frontend\":[],\"backend\":[],\"blockchain\":[],\"ai\":[]},\n   \"links\":[]\n },\n \"candidate_profile\": {\n   \"cv_url\":\"...\", \"skills\":[], \"experience_years\":0.0, \"location\":\"...\",\n   \"rate_currency\":\"USD|EUR|PLN\", \"rate_min\":0, \"rate_max\":0, \"rate_period\":\"hourly|daily|monthly\",\n   \"availability\":\"available_now|part_time|notice_period|unavailable\"\n },\n \"newsletter\": { \"subscribe\": false, \"unsubscribe\": false },\n \"tags\": [],\n \"external\": { \"message_id\":\"...\", \"dedupe_key\":\"...\" },\n \"shortSummaryForSales\":\"...\"\n}\nRules:\n- classification.intent MUST be one of allowed intents above for ham.\n- Prefer contact.email from envelope; fallback to parsed addresses in text if present.\n- company.name from corporate domain if not given (strip TLD), website=https://<domain>.\n- message.sent_at must be ISO8601; if numeric timestamp, convert to ISO string.\n- budget currency ONLY: USD/EUR/PLN. If other, map to nearest or null.\n- preferred_lang ISO-639-1 if guessable (en/pl/ru/uk); else null.\n- tags: short keywords like [\"budget\",\"timeline\",\"solidity\"].\n- Never invent personal data; keep null when unsure."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [-8480, -272],
      "id": "b66a9944-ed8e-449a-b676-f76074ade384",
      "name": "0b. AI Extract & Classify",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "anthropicApi": {
          "id": "GIfdwzVM7KrSSX07",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Node: 1c. Parse AI JSON (robust)\nconst rootText = typeof $json.text === 'string' ? $json.text : null;\nconst contentText = $json.content?.[0]?.text ?? null;\nconst rawText = (rootText ?? contentText ?? '').replace(/\\u0000/g, '').trim();\n\nconst errors = [];\nlet parsed = null;\n\nif (rawText) {\n  const start = rawText.indexOf('{');\n  const end = rawText.lastIndexOf('}');\n  if (start === -1 || end === -1) {\n    errors.push({ code: 'ai_missing_json', message: 'Claude response does not contain JSON object' });\n  } else {\n    const jsonStr = rawText.slice(start, end + 1);\n    try {\n      parsed = JSON.parse(jsonStr);\n    } catch (error) {\n      errors.push({ code: 'ai_json_parse_error', message: error.message });\n    }\n  }\n} else {\n  errors.push({ code: 'ai_empty_response', message: 'Claude returned empty response' });\n}\n\nconst fallback = {\n  classification: { label: 'spam', intent: 'generic', confidence: 0 },\n  contact: {},\n  company: {},\n  message: {},\n  project: {},\n  candidate_profile: {},\n  newsletter: { subscribe: false, unsubscribe: false },\n  tags: [],\n  external: {},\n  shortSummaryForSales: null,\n};\n\nconst result = parsed && typeof parsed === 'object' ? parsed : fallback;\n\nif (!result.classification || typeof result.classification !== 'object') {\n  result.classification = { label: 'spam', intent: 'generic', confidence: 0 };\n}\nif (!Array.isArray(result.tags)) {\n  result.tags = [];\n}\n\nconst aiErrors = Array.isArray(result.ai_errors) ? Array.from(result.ai_errors) : [];\nresult.ai_errors = [...aiErrors, ...errors];\nresult.ai_raw_text = rawText || null;\n\nreturn [result];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-8144, -272],
      "id": "ae5e212b-91eb-4ef1-bf16-b64d154540f8",
      "name": "1c. Parse AI JSON"
    },
    {
      "parameters": {
        "jsCode": "// Node: 1d. Enforce Intake Policy (Code)\n\nconst env = $('0a. Build Envelope').item.json;\nconst ai  = $json || {};\n\nai.classification = ai.classification || { label: 'ham', intent: 'generic', confidence: 0 };\n\nconst ALLOWED_INTENTS = ['candidate'];\nconst CANDIDATE_FORMS = ['vacancy','hr_intake','hr_candidate'];\n\nconst intent = String(ai.classification.intent || 'generic').toLowerCase();\nconst formCode = (env.form_code || '').toLowerCase();\n\nconst isCandidateSource =\n  (env.trigger === 'webhook' && formCode && CANDIDATE_FORMS.includes(formCode)) ||\n  (env.trigger === 'gmail' && env.source_code === 'email_inbox_hr');\n\nif (isCandidateSource && ai.classification.label === 'ham' && !ALLOWED_INTENTS.includes(intent)) {\n  ai.classification.label = 'spam';\n  ai.classification.intent = 'generic';\n  ai.classification.confidence = Math.max(ai.classification.confidence || 0, 0.9);\n  ai.tags = Array.isArray(ai.tags) ? Array.from(new Set([...ai.tags, 'policy_violation_non_candidate'])) : ['policy_violation_non_candidate'];\n}\n\nconst email = (ai.contact?.email || env.from_email || '').toLowerCase().trim() || 'unknown';\nai.external = ai.external || {};\nai.external.message_id = ai.external.message_id || env.external_message_id || null;\nai.external.dedupe_key = `${email}:${env.source_code}`;\n\nai.message = ai.message || {};\nif (!ai.message.subject) ai.message.subject = env.subject || null;\nif (!ai.message.sent_at) ai.message.sent_at = new Date(env.sent_at || Date.now()).toISOString();\n\nreturn [ai];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-7920, -272],
      "id": "77ed1bc6-99d9-405b-869a-1ed8991b2594",
      "name": "1d. Enforce Intake Policy"
    },
    {
      "parameters": {
        "jsCode": "// Node: 1e. Validate & Shape (Code)\n\n// === small, dependency-free hash ===\nfunction fnv1a64(str) {\n  let hash = 0xcbf29ce484222325n;        // FNV offset basis\n  const prime = 0x100000001b3n;          // FNV prime\n  for (let i = 0; i < str.length; i++) {\n    hash ^= BigInt(str.charCodeAt(i));\n    hash = (hash * prime) & 0xffffffffffffffffn; // 64-bit overflow\n  }\n  return hash.toString(16).padStart(16, '0');    // 16 hex chars (64-bit)\n}\n\nfunction normUrl(u) {\n  if (!u) return null;\n  try {\n    const candidate = u.startsWith('http://') || u.startsWith('https://') ? u : `https://${u}`;\n    return new URL(candidate).toString();\n  } catch (error) {\n    return null;\n  }\n}\n\nfunction fromDomain(domain) {\n  if (!domain) return null;\n  const base = domain.replace(/^www\\./, '');\n  const name = base.split('.')[0];\n  if (!name) return null;\n  return {\n    name: name.charAt(0).toUpperCase() + name.slice(1),\n    website: `https://${base}`,\n  };\n}\n\nfunction toNumber(value) {\n  if (value === null || value === undefined) return null;\n  const num = typeof value === 'number' ? value : parseFloat(String(value).replace(',', '.'));\n  return Number.isFinite(num) ? Number(num) : null;\n}\n\nfunction titleCase(value) {\n  if (!value) return null;\n  return value\n    .toString()\n    .split(/\\s|_|-/)\n    .map((part) => part ? part.charAt(0).toUpperCase() + part.slice(1).toLowerCase() : '')\n    .filter(Boolean)\n    .join(' ');\n}\n\nconst env = $('0a. Build Envelope').item.json;\nconst ai  = $('1d. Enforce Intake Policy').item.json;\n\nconst email = (ai?.contact?.email || env.from_email || '').toLowerCase().trim() || null;\nif (!email) {\n  const message = 'Email is required';\n  const error = new Error(message);\n  error.cause = { kind: 'missing_email', ai_errors: ai?.ai_errors || [] };\n  throw error;\n}\n\nconst form_code   = env.form_code || null;\nconst source_code = env.source_code || 'email_inbox';\nconst channel     = env.trigger === 'gmail' ? 'email' : 'form';\n\nconst msg       = ai?.message || {};\nconst subject   = msg.subject || env.subject || null;\nconst sent_at   = new Date(msg.sent_at || env.sent_at || Date.now()).toISOString();\nconst body_text = (msg.plain ?? env.body_text ?? '').toString();\nconst body_html = msg.html ?? env.body_html ?? null;\n\nconst rawStable = env.raw ? JSON.stringify(env.raw) : JSON.stringify({\n  source_code, form_code, email, subject, body_text,\n});\nconst sig = fnv1a64(rawStable);\n\nconst external_id =\n  env.external_message_id\n  || (form_code ? `form-${form_code}-${sig}`\n                : `auto-${source_code}-${sig}`);\n\nconst aiCompany   = ai?.company || {};\nconst domCompany  = fromDomain(env.from_domain);\nconst company     = aiCompany?.name ? aiCompany : domCompany || null;\n\nconst classification = ai?.classification || {};\nlet lead_intent    = (classification.intent || 'generic').toLowerCase();\nif (lead_intent === 'vacancy') {\n  lead_intent = 'candidate';\n}\nconst aiErrors = Array.isArray(ai?.ai_errors) ? ai.ai_errors.filter(Boolean) : [];\n\nconst intakeFlags = new Set(Array.isArray(ai?.tags) ? ai.tags.filter(Boolean) : []);\nif (aiErrors.length) intakeFlags.add('ai_parse_warning');\n\nconst summary = ai?.shortSummaryForSales\n  || (body_text ? `${body_text.slice(0, 260)}${body_text.length > 260 ? '…' : ''}` : null);\n\nconst candidateRaw = ai?.candidate_profile || {};\nconst rawSkills = Array.isArray(candidateRaw.skills) ? candidateRaw.skills : [];\nconst sanitizedSkills = rawSkills\n  .map((skill) => typeof skill === 'string' ? skill.trim() : null)\n  .filter(Boolean)\n  .map((skill) => titleCase(skill));\nconst experienceYears = toNumber(candidateRaw.experience_years);\nconst rateMin = toNumber(candidateRaw.rate_min);\nconst rateMax = toNumber(candidateRaw.rate_max);\nlet rateCurrency = typeof candidateRaw.rate_currency === 'string'\n  ? candidateRaw.rate_currency.trim().toUpperCase()\n  : null;\nconst allowedCurrencies = new Set(['USD', 'EUR', 'PLN']);\nif (!rateCurrency || !allowedCurrencies.has(rateCurrency)) {\n  rateCurrency = null;\n}\nconst allowedPeriods = new Set(['hourly', 'daily', 'monthly']);\nconst ratePeriod = typeof candidateRaw.rate_period === 'string' && allowedPeriods.has(candidateRaw.rate_period)\n  ? candidateRaw.rate_period\n  : 'hourly';\nconst allowedAvailability = new Set(['available_now', 'part_time', 'notice_period', 'unavailable']);\nlet availability = typeof candidateRaw.availability === 'string'\n  ? candidateRaw.availability\n  : null;\nif (!availability || !allowedAvailability.has(availability)) {\n  availability = 'notice_period';\n}\n\nconst candidateProfile = {\n  cv_url: normUrl(candidateRaw.cv_url || null),\n  skills: sanitizedSkills,\n  experience_years: experienceYears,\n  location: candidateRaw.location ? candidateRaw.location.toString().trim() : null,\n  rate_currency: rateCurrency,\n  rate_min: rateMin,\n  rate_max: rateMax,\n  rate_period: ratePeriod,\n  availability,\n};\n\nconst seniority = experienceYears !== null\n  ? (experienceYears >= 5 ? 'Senior' : experienceYears >= 2 ? 'Middle' : 'Junior')\n  : 'Middle';\nconst defaultStatus = availability === 'available_now' ? 'active' : 'prospect';\nconst poolTargets = [];\n\nconst primarySkill = sanitizedSkills[0] || null;\nif (primarySkill) {\n  poolTargets.push({\n    name: `${primarySkill} ${seniority}`.replace(/\\s+/g, ' ').trim(),\n    status: defaultStatus,\n  });\n}\nconst tagDerived = Array.from(intakeFlags).find((tag) => /react|solidity|python|node|go|java|design|ux|qa/i.test(tag));\nif (tagDerived) {\n  const normalized = titleCase(tagDerived.replace(/[_-]/g, ' '));\n  if (normalized && !poolTargets.some((p) => p.name === `${normalized} ${seniority}`)) {\n    poolTargets.push({\n      name: `${normalized} ${seniority}`.replace(/\\s+/g, ' ').trim(),\n      status: defaultStatus,\n    });\n  }\n}\nif (!poolTargets.length) {\n  poolTargets.push({\n    name: `${seniority} Talent Pool`,\n    status: defaultStatus,\n  });\n}\n\nif (lead_intent === 'candidate') {\n  if (!candidateProfile.cv_url) intakeFlags.add('candidate_missing_cv');\n  if (!sanitizedSkills.length) intakeFlags.add('candidate_missing_skills');\n}\n\nreturn [{\n  form_code,\n  source_code,\n  raw_payload: env.raw,\n  email,\n  full_name: ai?.contact?.full_name || env.from_name || '',\n  message: body_text,\n  external_id,\n\n  classification,\n\n  channel,\n  subject,\n  sent_at,\n  body_html,\n\n  company_name: company?.name || null,\n  company_website: normUrl(company?.website || null),\n  preferred_lang: ai?.contact?.preferred_lang || null,\n  timezone: ai?.contact?.timezone || null,\n  title: ai?.contact?.title || null,\n\n  lead_intent,\n  attachments: env.attachments || [],\n  dedupe_key: `${email}:${source_code}`,\n  sales_summary: summary,\n  ai_errors: aiErrors,\n  ai_raw_text: ai?.ai_raw_text || null,\n  intake_flags: Array.from(intakeFlags),\n  classification_source: aiErrors.length ? 'llm_with_warnings' : 'llm',\n  candidate_profile: candidateProfile,\n  candidate_pool_targets: poolTargets,\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-7696, -272],
      "id": "ce552e5f-8e9a-4494-9200-31233ad16bd6",
      "name": "1e. Validate & Shape"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $('1e. Validate & Shape').item.json.company_name }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "rightValue": null
            }
          ]
        },
        "options": {}
      },
      "name": "IF: Company Name Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-6768, -208],
      "id": "0b5dc3cd-e518-4ab3-ad12-66ee7d1c4c6f"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ins AS (\n  INSERT INTO companies (name, website)\n  SELECT $1, $2\n  -- Важно: ON CONFLICT теперь по полю website!\n  ON CONFLICT (website) DO UPDATE\n  SET\n    -- Если у существующей компании имя было пустое, а у новой есть, обновим его\n    name = COALESCE(companies.name, EXCLUDED.name),\n    updated_at = NOW()\n  RETURNING id\n)\nSELECT id AS company_id FROM ins\nUNION ALL\n-- Этот SELECT нужен, чтобы вернуть ID, если сработал DO UPDATE\nSELECT id FROM companies WHERE website = $2\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ [ $('1e. Validate & Shape').item.json.company_name, $('1e. Validate & Shape').item.json.company_website ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-6112, -480],
      "id": "926de1b4-c0a2-4391-a770-1803f4e9e4b6",
      "name": "5a. Upsert Company by Website",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $('1e. Validate & Shape').item.json.company_website }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "rightValue": null
            }
          ]
        },
        "options": {}
      },
      "name": "IF: Website Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-6448, -352],
      "id": "058d15dd-555e-4e7d-a600-ccfb75067a4b"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO companies (name)\nSELECT $1\nWHERE $1 IS NOT NULL\nRETURNING id AS company_id;",
        "options": {
          "queryReplacement": "={{ [ $('1e. Validate & Shape').item.json.company_name ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-6112, -240],
      "id": "505fb136-bb27-405d-99ad-6371315b56a9",
      "name": "5a. Upsert Company by Name",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-5808, -112],
      "id": "4512dcb1-3f4c-4b56-8f83-fce420e30eff",
      "name": "Merge company data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT c.id AS contact_id\nFROM contacts c\nJOIN contact_emails ce ON c.id = ce.contact_id\nWHERE lower(ce.email) = lower($1)\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ $('1e. Validate & Shape').item.json.email }}"
        }
      },
      "name": "1. Find Contact by Email",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-5568, -96],
      "id": "27dd9875-f552-4a9a-8220-44998667c037",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $('1. Find Contact by Email').item.json.contact_id }}",
              "operator": {
                "type": "number",
                "operation": "notEmpty"
              },
              "rightValue": null
            }
          ]
        },
        "options": {}
      },
      "name": "2. IF: Contact Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-5328, -96],
      "id": "75071af9-ac46-42ca-a8e3-843ebe599565"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE contacts\nSET\n  full_name = COALESCE($1, full_name),\n  company_id = COALESCE($2, company_id),\n  updated_at = NOW()\nWHERE id = $3\nRETURNING id AS contact_id;",
        "options": {
          "queryReplacement": "={{ [\n  $('1e. Validate & Shape').item.json.full_name,\n  $('Merge company data').item.json.company_id,\n  $('1. Find Contact by Email').item.json.contact_id\n] }}"
        }
      },
      "name": "3. Update Contact",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-5040, -256],
      "id": "bd6265f9-7f30-4ada-ac90-d73f5cebcde4",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO contacts (full_name, company_id, email)\nVALUES ($1, $2, $3)\nRETURNING id AS contact_id;",
        "options": {
          "queryReplacement": "={{ [\n  $('1e. Validate & Shape').item.json.full_name || '',\n  $('Merge company data').item.json.company_id || null,\n  $('1e. Validate & Shape').item.json.email\n] }}"
        }
      },
      "name": "4a. Create Contact Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-5040, -32],
      "id": "617d0d3f-1cdf-47bb-a00c-d06502c27a67",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO contact_emails (contact_id, email, is_primary)\nVALUES ($1, $2, TRUE);",
        "options": {
          "queryReplacement": "={{ [\n  $('4a. Create Contact Record').item.json.contact_id,\n  $('1e. Validate & Shape').item.json.email\n] }}"
        }
      },
      "name": "4b. Add Contact Email",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-4768, 64],
      "id": "6ccb6c6d-876d-4173-a2f4-d807d8990e2b",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "name": "5. Merge Contact Result",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-4544, -128],
      "id": "068631c0-c94e-4108-9947-bd556d069733"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO leads (contact_id, company_id, type, stage, source_id, dedupe_key)\nVALUES (\n  $1,\n  $2,\n  $3::lead_type,                      -- 'client' | 'partner' | 'newsletter'\n  'new',\n  (SELECT id FROM sources WHERE code = $4),\n  $5\n)\nON CONFLICT (dedupe_key) DO UPDATE SET\n  updated_at = NOW()\nRETURNING id AS lead_id;",
        "options": {
          "queryReplacement": "={{ [\\n  $('5. Merge Contact Result').item.json.contact_id,\\n  $('Merge company data').item.json.company_id || null,\\n  (() => {\\n    const intake = $('1e. Validate & Shape').item.json;\\n    const intent = String(intake.lead_intent || '').toLowerCase();\\n    const normalized = intent === 'vacancy' ? 'candidate' : intent;\\n    const allowed = ['client','partner','newsletter','candidate'];\\n    if (allowed.includes(normalized)) {\\n      return normalized;\\n    }\\n    const formCode = String(intake.form_code || '').toLowerCase();\\n    if (formCode === 'vacancy') {\\n      return 'candidate';\\n    }\\n    return 'client';\\n  })(),\\n  $('1e. Validate & Shape').item.json.source_code,\\n  $('1e. Validate & Shape').item.json.dedupe_key\\n] }}"
        }
      },
      "name": "6. Upsert Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-4368, -128],
      "id": "69c3dcbc-f487-451c-8e60-ef58aac0cb5d",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversations (lead_id, channel, subject, started_at, last_message_at)\nSELECT\n  $1, $2::channel, $3, $4::timestamptz, $4::timestamptz\nWHERE NOT EXISTS (SELECT 1 FROM conversations WHERE lead_id=$1)\nRETURNING id AS conversation_id;",
        "options": {
          "queryReplacement": "={{ [\n  $('6. Upsert Lead').item.json.lead_id,\n  $('1e. Validate & Shape').item.json.channel,\n  $('1e. Validate & Shape').item.json.subject || `Form: ${$('1e. Validate & Shape').item.json.form_code || 'unknown'}`,\n  $('1e. Validate & Shape').item.json.sent_at\n] }}"
        }
      },
      "name": "7a. Start Conversation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-4160, -128],
      "id": "0e7f8db8-ca60-4073-8591-456c05d7ce79",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (\n  conversation_id, direction, medium, sender_contact_id,\n  body, body_html, message_ts, external_message_id, meta\n)\nVALUES (\n  (SELECT id FROM conversations WHERE lead_id=$1 LIMIT 1),\n  'inbound',\n  $2::channel,\n  $3,\n  $4,\n  $5,\n  $6::timestamptz,\n  $7,            -- тут уже будет submission_id для форм, и Message-ID для Gmail\n  $8::jsonb\n)\nON CONFLICT (external_message_id) DO NOTHING\nRETURNING id AS message_id;",
        "options": {
          "queryReplacement": "={{ [\n  $('6. Upsert Lead').item.json.lead_id,\n  $('1e. Validate & Shape').item.json.channel,\n  $('5. Merge Contact Result').item.json.contact_id,\n  $('1e. Validate & Shape').item.json.message || '',\n  $('1e. Validate & Shape').item.json.body_html || null,\n  $('1e. Validate & Shape').item.json.sent_at,\n  $('1e. Validate & Shape').item.json.external_id || null,\n  JSON.stringify({ tags: $('1e. Validate & Shape').item.json.tags || [], ai_intent: $('1e. Validate & Shape').item.json.lead_intent || null })\n] }}"
        }
      },
      "name": "7b. Insert First Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-3952, -128],
      "id": "2611d1c6-6ad6-4366-a246-2e26e0b6ecbd",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO attachments (message_id, filename, mime, size_bytes)\nVALUES ($1, $2, $3, $4);",
        "options": {
          "queryReplacement": "={{ [\n  $('1e. Validate & Shape').item.json.message_id,\n  $json.filename,\n  $json.mime,\n  $json.size_bytes\n] }}"
        }
      },
      "name": "7d. Insert Attachment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-3360, -128],
      "id": "7a992779-98bd-450c-b764-4187daf36b16",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b8f5df43-baee-4e18-9b38-67e5c8d2e438",
              "name": "attachments",
              "value": "={{ $('1e. Validate & Shape').item.json.attachments }}",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-3760, -128],
      "id": "f1e30514-c5af-4597-aef0-900698f15b92",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "attachments",
        "include": "allOtherFields",
        "options": {}
      },
      "name": "7c. Split Out Attachments",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [-3568, -128],
      "id": "07a8d605-b690-476f-b8d1-9b31c8be6fcc",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "-1003017940130",
        "text": "={{ $('7e. Build Telegram Payload').item.json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-2880, -128],
      "id": "9b6e8af7-7975-4ccd-bf40-7e5f2a3a1995",
      "name": "Send a text message (HR)",
      "webhookId": "4aed2b64-9a3d-4b01-8a28-6bb4e82b21df",
      "credentials": {
        "telegramApi": {
          "id": "DIjzBhPLelPnkz7y",
          "name": "Telegram account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const intake = $('1e. Validate & Shape').item.json;\nconst lead = $('6. Upsert Lead').item.json;\nconst contact = $('5. Merge Contact Result').item.json;\nconst summary = intake.sales_summary || (intake.message ? `${intake.message.slice(0, 200)}${intake.message.length > 200 ? '…' : ''}` : 'Нет короткого резюме — проверьте диалог.');\n\nconst flags = new Set(intake.intake_flags || []);\nconst aiErrors = Array.isArray(intake.ai_errors) ? intake.ai_errors.filter(Boolean) : [];\nif (aiErrors.length) {\n  flags.add('ai_warning');\n}\n\nconst lines = [];\nlines.push('👤 Новый кандидат откликнулся на вакансию');\nlines.push(`Lead ID: ${lead.lead_id}`);\nlines.push(`Candidate: ${(contact.full_name || intake.full_name || '—')} <${intake.email}>`);\nlines.push(`Intent: ${intake.lead_intent} | Classification: ${(intake.classification?.label || 'n/a')}`);\nlines.push('—');\nlines.push(summary);\n\nif (flags.size) {\n  lines.push('—');\n  lines.push(`⚠️ Flags: ${Array.from(flags).join(', ')}`);\n}\nif (aiErrors.length) {\n  const preview = aiErrors.map(e => e?.code || 'error').join(', ');\n  lines.push(`⚠️ AI warnings: ${preview}`);\n}\n\nreturn [{ text: lines.join('\\n') }];"
      },
      "id": "3b166ebf-979d-4cd1-b146-40135eb3859a",
      "name": "7e. Build Telegram Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3120, -128]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipeline_events (entity_type, entity_id, event_type, data)\\nVALUES ('lead', $1, 'intake_routed_non_candidate', $2::jsonb);",
        "options": {
          "queryReplacement": "={{ [ $('6. Upsert Lead').item.json.lead_id, JSON.stringify({ lead_intent: $('1e. Validate & Shape').item.json.lead_intent, classification_label: $('1e. Validate & Shape').item.json.classification.label, intake_flags: $('1e. Validate & Shape').item.json.intake_flags, ai_errors: $('1e. Validate & Shape').item.json.ai_errors, source_code: $('0a. Build Envelope').item.json.source_code, form_code: $('0a. Build Envelope').item.json.form_code }) ] }}"
        }
      },
      "id": "700849f5-4467-48cc-88e6-e684c699d159",
      "name": "8f. Log Non-candidate Intake",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-2384, 144],
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "leftValue": "={{ $('1e. Validate & Shape').item.json.lead_intent }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "candidate"
            },
            {
              "leftValue": "={{ $('1e. Validate & Shape').item.json.form_code }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "vacancy"
            }
          ]
        },
        "options": {}
      },
      "name": "8a. Is Candidate Intent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-2656, -128],
      "id": "f3f7f113-6835-4273-aeea-0020902daa83"
    },
    {
      "parameters": {
        "jsCode": "const intake = $('1e. Validate & Shape').item.json;\\nconst lead = $('6. Upsert Lead').item.json;\\nconst contact = $('5. Merge Contact Result').item.json;\\nconst company = $('Merge company data').item.json;\\nconst conversation = $('7a. Start Conversation').item.json;\\nconst submission = $('2. Insert Submission').item.json;\\n\\nreturn [{\\n  lead_id: lead.lead_id,\\n  contact_id: contact.contact_id,\\n  company_id: company.company_id,\\n  conversation_id: conversation.conversation_id,\\n  message_id: $('7b. Insert First Message').item.json.message_id,\\n  email: intake.email,\\n  full_name: intake.full_name,\\n  preferred_lang: intake.preferred_lang || 'ru',\\n  timezone: intake.timezone,\\n  lead_intent: intake.lead_intent,\\n  classification_label: intake.classification?.label || null,\\n  classification_confidence: intake.classification?.confidence ?? null,\\n  sales_summary: intake.sales_summary,\\n  dedupe_key: intake.dedupe_key,\\n  source_code: intake.source_code,\\n  form_code: intake.form_code,\\n  submission_id: submission.submission_id,\\n  ai_errors: intake.ai_errors || [],\\n  intake_flags: intake.intake_flags || [],\\n  ai_raw_text: intake.ai_raw_text,\\n  candidate_profile: intake.candidate_profile || {},\\n  candidate_pool_targets: intake.candidate_pool_targets || []\\n}];"
      },
      "name": "[PREP] Build Candidate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-2384, -128],
      "id": "f5181cf5-12c4-4e82-8413-9cea53e82812"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Sy8lqNu5VacHR12a",
          "mode": "list",
          "cachedResultName": "1.2 Автоматизация отклика на вакансию"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "name": "[HOP] Trigger Vacancy Processor",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [-2160, -128],
      "id": "ed7bd2b7-b76b-4822-b8e2-8663aaaa4182",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.error }}",
              "operator": {
                "type": "string",
                "operation": "empty"
              },
              "rightValue": null
            }
          ]
        },
        "options": {}
      },
      "name": "8b. Vacancy Processor Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-1904, -128],
      "id": "f80a73ab-87d0-4906-9356-4871f86ab690"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipeline_events (entity_type, entity_id, event_type, data)\\nVALUES ('lead', $1, 'vacancy_processor_triggered', $2::jsonb);",
        "options": {
          "queryReplacement": "={{ [ $('6. Upsert Lead').item.json.lead_id, JSON.stringify({ conversation_id: $('7a. Start Conversation').item.json.conversation_id, workflow_execution_id: $json.executionId ?? null, candidate_profile_id: $json.candidate_profile_id ?? null, lead_intent: $('1e. Validate & Shape').item.json.lead_intent, intake_flags: $('1e. Validate & Shape').item.json.intake_flags }) ] }}"
        }
      },
      "name": "8c. Log Vacancy Processor Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-1680, -224],
      "id": "09b669a9-c362-4e26-8789-a30942bc00d2",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipeline_events (entity_type, entity_id, event_type, data)\\nVALUES ('lead', $1, 'vacancy_processor_failed', $2::jsonb);",
        "options": {
          "queryReplacement": "={{ [ $('6. Upsert Lead').item.json.lead_id, JSON.stringify({ conversation_id: $('7a. Start Conversation').item.json.conversation_id, workflow_execution_id: $json.executionId ?? null, error: $json.error, lead_intent: $('1e. Validate & Shape').item.json.lead_intent, intake_flags: $('1e. Validate & Shape').item.json.intake_flags }) ] }}"
        }
      },
      "name": "8d. Log Vacancy Processor Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-1680, -32],
      "id": "e6c61429-b566-486d-9973-59f8b0560356",
      "credentials": {
        "postgres": {
          "id": "Q6TYPE7PGoXfCRLa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1003017940130",
        "text": "=🔥 Ошибка подпроцесса vacancy_processor: {{ $('1e. Validate & Shape').item.json.email }}\\n\n{{ $json.error?.message || $json.error || 'Unknown error' }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "name": "8e. Alert Vacancy Processor Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-1456, -32],
      "id": "6c8eedf8-8bee-4f6a-ad6a-08103a21dd8b",
      "webhookId": "af5b0b52-144b-49d5-ac82-836cefbf532f",
      "credentials": {
        "telegramApi": {
          "id": "DIjzBhPLelPnkz7y",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "hr.in.candidates": {
      "main": [
        [
          {
            "node": "0a. Build Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Is Spam?": {
      "main": [
        [
          {
            "node": "Update Submission (Spam)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF: Company Name Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3b. Insert Classification": {
      "main": [
        [
          {
            "node": "4. Is Spam?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Insert Submission": {
      "main": [
        [
          {
            "node": "3b. Insert Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger (HR)": {
      "main": [
        [
          {
            "node": "0a. Build Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "0a. Build Envelope": {
      "main": [
        [
          {
            "node": "0b. AI Extract & Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "0b. AI Extract & Classify": {
      "main": [
        [
          {
            "node": "1c. Parse AI JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1c. Parse AI JSON": {
      "main": [
        [
          {
            "node": "1d. Enforce Intake Policy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1d. Enforce Intake Policy": {
      "main": [
        [
          {
            "node": "1e. Validate & Shape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1e. Validate & Shape": {
      "main": [
        [
          {
            "node": "2. Insert Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Company Name Exists?": {
      "main": [
        [
          {
            "node": "IF: Website Exists?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge company data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "5a. Upsert Company by Website": {
      "main": [
        [
          {
            "node": "Merge company data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Website Exists?": {
      "main": [
        [
          {
            "node": "5a. Upsert Company by Website",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "5a. Upsert Company by Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5a. Upsert Company by Name": {
      "main": [
        [
          {
            "node": "Merge company data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge company data": {
      "main": [
        [
          {
            "node": "1. Find Contact by Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Find Contact by Email": {
      "main": [
        [
          {
            "node": "2. IF: Contact Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. IF: Contact Found?": {
      "main": [
        [
          {
            "node": "3. Update Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "4a. Create Contact Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Update Contact": {
      "main": [
        [
          {
            "node": "5. Merge Contact Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4a. Create Contact Record": {
      "main": [
        [
          {
            "node": "5. Merge Contact Result",
            "type": "main",
            "index": 1
          },
          {
            "node": "4b. Add Contact Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Merge Contact Result": {
      "main": [
        [
          {
            "node": "6. Upsert Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Upsert Lead": {
      "main": [
        [
          {
            "node": "7a. Start Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7a. Start Conversation": {
      "main": [
        [
          {
            "node": "7b. Insert First Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7b. Insert First Message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7d. Insert Attachment": {
      "main": [
        [
          {
            "node": "7e. Build Telegram Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "7c. Split Out Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7c. Split Out Attachments": {
      "main": [
        [
          {
            "node": "7d. Insert Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message (HR)": {
      "main": [
        [
          {
            "node": "8a. Is Candidate Intent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7e. Build Telegram Payload": {
      "main": [
        [
          {
            "node": "Send a text message (HR)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8a. Is Candidate Intent?": {
      "main": [
        [
          {
            "node": "[PREP] Build Candidate Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "8f. Log Non-candidate Intake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[PREP] Build Candidate Payload": {
      "main": [
        [
          {
            "node": "[HOP] Trigger Vacancy Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[HOP] Trigger Vacancy Processor": {
      "main": [
        [
          {
            "node": "8b. Vacancy Processor Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8b. Vacancy Processor Succeeded?": {
      "main": [
        [
          {
            "node": "8c. Log Vacancy Processor Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "8d. Log Vacancy Processor Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8d. Log Vacancy Processor Error": {
      "main": [
        [
          {
            "node": "8e. Alert Vacancy Processor Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "69871f35b6454f2fa99c2f68403092fbaef8d3b776d3b26f1ec8ca290a75b807"
  }
}
